@media only screen and (max-width: 600px) {
    #waffledesc-section{
        padding-top: 20% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    #franchise-inclusions{
        padding-top: 10% !important;
        padding-bottom: 15% !important;
    }
}

#waffledesc-section{
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url(../assets/img/desc-bg.png);
    background-position: top;
    background-size: cover;
    padding-bottom: 5%;
}

#franchise-info-section{
    padding-top: 5% !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding-bottom: 3% !important;
}

#card-med{
    padding: 3%;
}

.bg-yellow{
    background-color: var(--sec-yellow);
}

#cart-section{
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 7%;
}

#franchisee-section{
    background-image: url(../assets/img/franchise-bg.png);
    padding-top: 5%;
    background-origin: top;
    background-size: cover;
}

#calltoaction-desc{
    padding-top: 8%;
    padding-bottom: 8%;
}

