@media only screen and (max-width: 600px) {
    #waffledesc-section{
        padding-top: 20% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
}

#waffledesc-section{
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
    background-image: url(../assets/img/desc-bg.png);
    background-position: top;
    background-size: cover;
    padding-bottom: 5%;
}
