/************** Style Components *************/
.main-red{
    color: var(--main-red) !important;
}

.headline-h2 {
    /* Headline / H2 • 60 Playfair Display */
    font-family: 'Playfair', serif !important;
    font-style: normal;
    font-weight: bolder;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: 1.5px;
    color: var(--black);
}

.headline-h3 {
    /* Headline / H2 • 60 Playfair Display */
    font-family: 'Playfair', serif !important;
    font-style: normal;
    font-weight: bolder;
    font-size: 56px;
    line-height: 48px;
    letter-spacing: 1.5px;
    width: 100%;
    color: var(--black);
}

.subheadline {
    /* Headline / H5 • 24 Playfair Bold */
    font-family: 'Playfair', serif !important;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    /* identical to box height */
    letter-spacing: 0.2vw;
    text-transform: uppercase;
    /* Main (Red) */
    color: var(--main-red);
}

.headline-h4 {
    /* Headline / H2 • 60 Playfair Display */
    font-family: 'Playfair', serif !important;
    font-style: normal;
    font-weight: bolder;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 1.5px;
    width: 100%;
}

.headline-h5 {
    /* Headline / H2 • 60 Playfair Display */
    font-family: 'Playfair', serif !important;
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.5px;
    width: 100%;
}

.body-reg-16 {
    /* Body / 16 Lato Regular */
    font-family: Lato;
    font-style: normal;
    font-size: 16px;
    line-height: 185%;
    width: 90%;
    letter-spacing: 0.1vw;
    /* Gray 1 */
    color: #333333;
}

.body-reg-14 {
    /* Body / 14 Lato Regular */
    font-family: 'Lato';
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 175%;
    /* or 24px */
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}

.body-reg-11 {
    /* Body / 10 Lato Regular */
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    /* or 24px */
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom:3% !important;
}

.caption-12 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    letter-spacing: 0.5px;
}

.contact-body {
    /* Body / 14 Lato Regular */
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* or 24px */
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
}

.card-title {
    font-family: 'Playfair', serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    align-content: center;
    letter-spacing: 1px;
    /* Main (Red) */
    color: var(--main-red);
}

.btn-stroke {
    position: relative;
    border: 2px solid var(--main-red);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    background-color: transparent;
    /* identical to box height */
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* Main (Red) */
    color: var(--main-red);
    padding: 4%;
    margin-top: 10%;
}

.btn-stroke:hover {
    background-color: var(--main-red);
    color: white;
}

.btn-small {
    position: relative;
    /* White */
    background: #FDFDFD;
    border: whitesmoke;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    /* Button / 16 Lato ExtraBold */
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* Main (Red) */
    color: var(--main-red);
    padding: 15px;
    margin-top: 8%;
}

.btn-small:hover {
    background: var(--main-red);
    color: white;
    text-decoration: none;
}

.btn-med {
    position: relative;
    /* White */
    background: #FDFDFD;
    border: whitesmoke;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 300px;
    /* Button / 16 Lato ExtraBold */
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* Main (Red) */
    color: var(--main-red);
    padding: 15px;
    margin-top: 3%;
}

.btn-med:hover {
    background: var(--main-red);
    color: white;
}

.btn-wide {
    background: #FDFDFD;
    border: whitesmoke;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Lato Bold';
    font-size: 24px;
    z-index: 2;
    color: var(--main-red);
    width: 50%;
    padding: 1%;
    letter-spacing: 0.3vw;
}

.btn-wide:hover {
    background: var(--main-red);
    color: white;
}

.lato-eb-24 {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: 3px;
    text-transform: uppercase;
}

.button-16 {
    font-family: 'Lato Bold';
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* Main (Red) */
    color: var(--main-red);
}

.highlight {
    color: var(--main-red);
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.overline {
    font-family: 'Lato Bold';
    font-style: normal;
    font-weight: 900;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--sec-accent);
}

/**************  Boootstrap Overrides **************/

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
    background-position: cover;
}

.row {
    margin-left: 0% !important;
    margin-right: 0% !important;
}

.navbar-nav {
    font-family: 'Lato', sans-serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 1px;
    word-spacing: 5px;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: white !important;
}

nav .nav-link:hover {
    color: var(--sec-yellow);
    background-color: transparent;
}

nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: var(--sec-yellow);
    transition: width .3s;
    color: var(--sec-yellow)
}

nav .nav-link:hover::after {
    width: 100%;
    color: #AF0700;
    /* transition: width .3s; */
}

nav .nav-link:visited {
    color: var(--sec-yellow);
    /* transition: width .3s; */
}

.carousel .thumbs-wrapper {
    visibility: collapse !important;
}

/* .btn-primary {
    background-color: var(--main-red) !important;
    border-color: var(--main-red) !important;
} */

.slick-prev:before, .slick-next:before {
    color: #fa0002 !important;
}

.responsive {
    width: 100%;
    /* max-width: 175px; */
    height: auto;
}

/************** Personalized CSS **************/

#navbar-header {
    background-color: var(--black);
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

 /* @media only screen and (min-width: 1200px) {
    #logo {
        width: 200px !important;
        top: 10% !important;
        left: 43% !important;
    }
    #home-section {
        /* padding-bottom: 20% !important; 
    }
    #welcome-waffletime {
        margin-top: 16% !important;
    }
    #about-section {
        color: black;
        padding-top: 1% !important;
        padding-bottom: 1% !important;
    }
    #waffles-section {
        padding-left: 0px !important;
        padding-right: 0px !important;
        background-size: cover !important;
    }
    #waffles-waffle {
        margin-top: 80px !important;
    }
    #foundation-section {
        color: black;
        padding-top: 1% !important;
        padding-bottom: 1% !important;
    }
    #social-media {
        position: relative;
        bottom: 3%;
        z-index: 5;
    }
    .vl {
        height: 7% !important;
        padding-right: 10px;
    }
    #footer-img {
        padding-top: 250px !important;
    }
    #waffle {
        margin-bottom: 4% !important;
    }
    #waffles-card-section {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
    .card-item {
        height: fit-content !important;
        padding: 10% !important;
    }
    #events-section{
        height: 50%;
    }
} */

 /* @media only screen and (min-width: 992px) {
         #logo {
        left: 40%;
    }
    .modal-footer {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    #about-section {
        /* padding-left: 8% !important;  
        background-image: url(../assets/img/about-bg.jpg);
        background-size: cover!important;
        padding-bottom: 3% !important;
    }
    #waffles-section {
        padding-bottom: 10%;
        padding-left: 0px !important;
        padding-right: 0px !important;
        background-size: cover !important;
    }
    #waffles-heading {}
    .card-item {
        height: fit-content !important;
        padding: 10% !important;
    }
    .card-title {
        padding: 8% !important;
    }
    #foundation-section {
        padding-bottom: 5% !important;
    }
}  */

 /* @media only screen and (max-width: 600px) {
    .zoom evt{
        margin: auto;
    }
    .navbar-nav {
        /* height: 100vh; 
    }
    #logo {
        left: 5% !important;
        width: 150px !important;

        
    }
   
    .headline-h2 {
        font-size: 40px;
        line-height: 40px;
        width: 100%;
        padding-left: 5%;
    }
    .btn-wide {
        font-size: 16px;
        padding: 4% !important;
        letter-spacing: 2px;
        width: 80%;
    }
    .body-reg-16 {
        font-size: 14px;
        width: 100%;
    }
    .headline-h4 {
         
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 1.5px;
    }
    .subheadline {
        font-size: 16px;
    }
    #about-section {
        padding-top: 5px !important;
        padding-bottom: 10% !important;
        padding-left: 3% !important;
    }
    #waffles-section {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 50% !important;
    }
    #waffles-card-section {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    #events-section {
        padding-top: 15% !important;
        padding-bottom: 15% !important;
        

    }
    
    

    #foundation-section {
        padding-top: 5px !important;
        padding-bottom: 0.5% !important;
        padding-left: 5% !important;
    }
    .headline-h3 {
        font-size: 40px !important;
    }
    .card-item {
        padding: 3% !important;
        height: fit-content !important;
    }
    .card-title {
        padding: 2% !important;
        font-size: 18px !important;
        margin-bottom: 0px !important;
        padding: 5% !important;
    }
    .body-reg-14 {
        font-size: 12px !important;
        padding-right: 2% !important;
        padding-left: 2% !important;
        align-items: center !important;
    }
    .fillings-card {
        padding-top: 8% !important;
        margin-bottom: 8% !important;
    }
    .modal-header .headline-h5 {
        font-size: 20px !important;
        letter-spacing: 0px !important;
        line-height: 32px !important;
    }
    #foundation-video {
        background-image: none !important;
    }
    .party-package-modal {
        padding: 0px !important;
    }
    #img-cart {
        width: 175px !important;
    }
    #package-card {
        margin-top: 5% !important;
        margin-bottom: 15% !important;
    }
    .card-back {}
    #footer {
        background-image: url(../assets/img/Footer/footer-bg-mobile.jpg) !important;
    }
    .ReactModal__Content {
        width: 80% !important;
    }
}  */

.vl {
    border-left: 6px solid #da251d;
    height: 10%;
    padding-right: 10px;
    position: absolute;
}

/* .map-wavycurve-top {
    width: 100%;
    top: 0;
    height: auto;
    position: absolute;
    display: block;
    bottom: 0;
    z-index: 3;
}

.map-wavycurve-bottom {
    width: 100%;
    bottom: 0;
    height: auto;
    position: absolute;
    display: block;
    bottom: 0;
    z-index: 3;
} */

#logo {
    width: 200px;
    position: absolute;
    top: 15%;
    padding-top: 8px;
    left: 43%;
    transition: .3s;
}

#admin-section {
    background-color: #32a5fd;
    color: white;
    padding-top: 200px;
    padding-bottom: 250px;
}

#Admin {
    height: 100%;
}

/* HOME SECTION */

#home-section {
    position: relative;
}

#btn-franchise {
    position: absolute;
    padding-top: 39.5%;
    top: 0;
}

/* ABOUT SECTION */

#about-section {
    color: black;
    padding-top: 3%;
    padding-left: 12%;
}

#about-headline {
    width: 90%;
}

#body-reg {
    padding-top: 3%;
    /* background-color: #32a5fd; */
}

.about-info {
    font-family: 'Playfair', sans-serif !important;
    color: var(--red) !important;
}

.about-info :hover {
    text-decoration: none;
    color: #fff;
    background-color: #fa0002;
    -webkit-box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.36);
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.36);
    border-radius: 15px;
}

.mobile-dropdown-copyright {
    font-family: 'IM Fell French Canon SC', serif !important;
    padding-top: 180px;
}

/* WAFFLES SECTION */

#waffles-section {
    /* background-color: #fee300; */
    background-image: url(../assets/img/waffle-bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 16%;
    padding-bottom: 15%;
}

#rec-bottom {
    width: 100%;
    text-align: center;
}

#waffles-card-section {
    padding-top: 3%;
    text-align: center;
}

#waffles-waffle {
    margin-top: 25px;
    background-position: center;
}

#waffle-definition-title-1 {
    color: #fa0002;
    font-weight: 800;
}

#waffle-definition-1 {
    background-color: #fa0002 !important;
    color: white !important;
}

#waffle-definition-title-2 {
    color: #32a5fd;
    font-weight: 800;
}

#waffle-definition-3 {
    background-color: #fff !important;
    color: #fa0002 !important;
}

#waffle-definition-title-3 {
    color: #fff;
    font-weight: 800;
    text-shadow: 0.5px 0.5px #fa0002;
}

.card-item {
    background-color: white;
    opacity: 0.9;
    color: var(--black);
    border: 4px solid #C42E27;
    border-radius: 5px;
    height: fit-content;
    padding: 5%;
    margin-bottom: 3%;
}

.force-center {
    margin-top: 50% !important;
}

.waffle-definition-title {
    font-weight: 700 !important;
}

.waffle-definition-box {
    background-color: var(--main-red);
}

#waffle-img {
    width: 175px;
}

.fillings-card {
    position: relative;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 4%;
}

.fillings-title {
    position: absolute;
    z-index: 5;
    background-color: var(--sec-yellow);
    border-radius: 50px;
    padding: 4%;
    text-align: center;
    left: 15%;
    top: 92%;
    width: 70%;
}

/* FOUNDATION SECTION */

#foundation-section {
    color: black;
    padding-top: 5%;
    padding-left: 12%;
    padding-bottom: 10% !important;
}

/* EVENTS SECTION  */

#events-section {
    font-family: 'Playfair', sans-serif !important;
    background-color: #fff;
    color: #fa0002;
    padding-top: 5%;
    padding-bottom: 5%;
}

#event-curve {
    width: 100%;
}

.img-vert {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

#event-slider {
    margin-top: 20px;
    color: #030051;
    
    
}

.event-description {
    /* Body / 14 Lato Regular */
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    /* font-size: 14px; */
    line-height: 175%;
    /* or 24px */
    text-align: center;
    letter-spacing: 1px;
    color: var(--black);
    font-size: 0.72em !important;
}

#event-info-section {
    background-color: #fa0002;
    padding-bottom: 80px;
}

#map-section {
    background-color: white;
}

.wavy-curve {
    width: 100%;
}

#expand-map {
    padding-top: 200px;
}

#footer-text {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

#footer-main {
    position: relative;
    text-align: center;
    color: white;
}

#footer {
    background-image: url(../assets/img/Footer/footer-bg.jpg);
    background-size: cover;
    background-position: right;
    bottom: 0;
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
    background-color: var(--sec-red);
    color: var(--sec-yellow);
    padding-top: 2%;
    padding-bottom: 2%;
    z-index: 2000;
}

#franchise-section {
    color: var(--black);
    position: relative;
    padding-top: 40px;
}

#franchise-section .nav-link {
    color: white !important;
}

#franchise-section .alert-primary {
    color: #030051;
    background-color: #fee300;
    border-color: #fee300;
}

#franchise-section .btn-success {
    color: #030051;
    background-color: #fee300;
    border-color: #fee300;
}

#waffle-line {
    background-color: red;
    width: 75%;
    height: 2px;
}

.no-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#franchise-description {
    font-size: 1rem !important;
}

#administrator-manage:hover {
    background-color: black !important;
}

#contact-section {
    font-family: 'Exo 2', sans-serif !important;
    font-size: .75em;
}

#administrator-manage {}

.manage-button {
    text-decoration: none !important;
}

.manage-btn:hover {
    background-color: #0a7eff !important;
    border-color: #0a7eff !important;
    color: white;
}

.manage-btn:hover {
    background-color: black;
}

#manage-nav {}

.manage-nav {
    color: #007bff !important;
}

.nav-link:hover {
    color: var(--sec-yellow) !important;
    background-color: #007bff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--sec-yellow) !important;
}

#manage-buttons a {
    color: #343a40;
}

.manage-return {
    color: #343a40;
}

#manage-title {
    font-size: 1.5em !important;
}

/*  Gabriel Palmares */

.img-size {
    width: 100%;
    padding: 10px;
}

.evt:hover {
    border-radius: 5px;
    background-color: var(--sec-yellow);
    color: white;
}

.zoom {
    padding: 15px;
    box-sizing: border-box;
    transition: transform .2s;
    width: 5px;
    height: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
}

.zoom:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.event-text {
    font-family: 'Satisfy', sans-serif !important;
    font-weight: 800
}

#vl-white {
    border-left: 4px solid #fee300;
    height: 30px;
    padding-right: 10px;
}

#vl-yellow {
    border-left: 2px solid #fee300;
    height: 200px;
}

#events-info-description {
    font-weight: 400;
}

#event-info-section {
    color: white;
    font-size: 15px;
    background-color: #fa0002;
    padding-bottom: 80px;
}

.animate-spin {
    animation: w3-spin 3s infinite linear
}

@keyframes w3-spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

.animate-fading {
    animation: fading 5s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.animate-opacity {
    animation: opac 0.8s
}

@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.animate-top {
    position: relative;
    animation: animatetop 0.3s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.animate-left {
    position: relative;
    animation: animateleft 0.3s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.animate-right {
    position: relative;
    animation: animateright 0.3s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

.animate-bottom {
    position: relative;
    animation: animatebottom 0.3s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#newspaper {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
}

#social-media {
    font-size: 24px !important;
}

#social-media a {
    color: white;
}

/* #about-us-stars {
    color: red;
}

#v-pills-faq a {
    text-decoration: none;
}

#v-pills-contact a {
    text-decoration: none;
} */

#footer-img {
    padding-top: 10px;
}

/* #event-info-section .display-4 {
    font-size: 3.2rem !important;
} */

#about-section .blockquote {
    margin-bottom: 1rem;
    font-size: 1.0rem;
}

/* PARTY PACKAGE SECTION */

#partypackage-section {
    background-image: url(../assets/img/partypack-bg.jpg);
    background-size: cover;
    color: white;
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
}

#partypackage-section .title {
    color: #f3b778
}

.party-package-modal {
    padding: 0 50px 0 50px;
    height: 100%;
}

#partypack-desc {
    background-color: white;
    opacity: 0.8;
    color: #000000;
    padding: 5% !important;
}

.img-cart-display {
    position: relative;
}

#package-card {
    padding: 5%;
}

.card-back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Accent (Yellow) */
    background: var(--sec-yellow);
    /* Main (Red) */
    border: 3px solid var(--main-red);
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--black);
    visibility: hidden;
    opacity: 0;
    border-radius: 20px;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
    padding-top: 9%;
}

.card-front:hover .card-back {
    visibility: visible !important;
    opacity: 1;
}

.youtube-display {
    pointer-events: none;
    height: 350px;
    width: 80%;
}

#foundation-video {
    background-image: url(../assets/img/foundation-bg.jpg);
    background-size: cover;
}

#outlet-section {
    background-color: var(--sec-red);
}

#outlet-desc {
    padding-left: 10%;
    padding-right: 10%;
    margin-right: 0px !important;
}

/* CONTACT SECTION */

#contact-section {
    padding-top: 3%;
    padding-bottom: 6%;
}

.contact-title {
    position: relative;
    background-color: var(--sec-yellow);
    border-radius: 50px;
    padding: 5%;
    text-align: center;
    width: 100%;
}

.contact-card {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#contact-card-section {
    text-align: center;
}

.contact-details {
    background: #FDFDFD;
    border: 1px solid rgba(218, 218, 218, 0.5);
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: fit-content;
    width: 100%;
    padding-right: 10% !important;
    padding-left: 10% !important;
}

.contact-card {
    margin-top: 5%;
}

.fas {
    color: var(--main-red) !important;
}

/* FOOTER  */

#footer-logo {
    width: 150px;
    padding-bottom: 50%;
}

#logo-copyright {
    padding-left: 10%;
}

.ft-link:hover {
    color: var(--sec-yellow) !important;
}

.ReactModal__Content {
    padding: 0px !important;
    width: 60%;
}

#party-package-main-modal {
    width: fit-content !important;
}

#waffles-main-modal {
    width: 55% !important;
}

.modal-body-fillings {
    padding-left: 10% !important;
    padding-right: 10% !important;
    padding-top: 0px !important;
}

/* .fillings-modal {
    height: 100%;
} */

.modal-header {
    background-color: var(--main-red);
    height: 70px !important;
}

/* view for mobile */
/* @media for screen only(max-width:767)
{
    .img-size{
        width: 100%;    
    }
        
    
} */
@media only screen and (max-width: 991px){
    #logo{
        left: 5% !important;
        width: 150px !important;

    }
     .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    /* .navbar-collapse.collapse {
        display: none!important;
    } */
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .navbar-expand-custom.collapsing {
        overflow: hidden!important;
    }
    

}