@font-face {
    font-family: 'Playfair';
    src: url('./assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato\ regular.ttf');
}

@font-face {
    font-family: 'Lato Bold';
    src: url('./assets/fonts/Lato\ 900.ttf');
}

@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
/*

	the wafflebottom img is too big. it blocks the navigation
	i added z-index: 3 so the navs can be clicked

*/

html{
    scroll-behavior: smooth;
}

:root {
    --main-red: #AF0700;
    --sec-yellow: #ffd454;
    --black: #353535;
    --sec-red: #890f00;
    --sec-accent: #124886;
}
.add-padding {
    padding-top: 3%;
    padding-left: 10%;
}

#add-margin {
    margin-left: 2%;
}

nav {
    z-index: 3;
    color: white;
}

body, html {
    margin: 0;
    height: 100%;
}

.color1 {
    background-color: #AF0700;
}

.color2 {
    background-color: green;
}

.color3 {
    background-color: blue;
}
